body{
    margin: 0;
    background: rgb(207, 202, 202);
}
img{
    width: 600px;
    height: 400px;
}
header{
    padding: 0%;
    background: white;
    h1{
        margin: 0;
    }
}
div.post{
    background: white;
    h2{
        margin-bottom: -40px;
        padding: 10px;
    }
    p{
        padding: 10px;
    }
}
div.container{
    width: 600px;
    margin: auto;
}
span{
    float: right;
    margin: 10px;
    color:grey
}